
/*   
        .navbar{
            width:600px;
           }
          .tel{
            width:600px;
          }
        .vc_row{
width:1080px;

        }
        .bg{
            width:600px;
        }
        .heading{
            width: 300px;
        }
 h2   {

width:300px ;
}

.form-row{
  display: block;
}

       .brows{
        width: 550px;
        margin: 30px;
       }
       .single{
        width: 600px;
       }
       .vc_row{
        margin-right: -45px;
        width: 634px;
       }
      
     #form1{
        margin-right: 0;
       }
       .footer-bottom{
        text-align: initial;
       }
       .logo{
           width: 120px;
       }
       .heading h2{
        font-size: 33px;
       }
     
      .socials{
        margin-right:10px;
      }
      .tab1{
        display: block;
      } */