/* .navbar{
    width: 606px;
   }
   .hllo{
    margin-right: 55px;
}
.pictu{
    margin-right: 55px;
}

.vc_row{
    margin-right: -30px;
    width: 600px;
   }
   .wpb_wrapper{
       margin-left: 0;
       margin-left: 0;
   }
   .mr{
    margin-right: 45px;
   }
 
  .call{
    margin-right: 55px;
  }
 h2{
    font-size: 25px;
  }
  .sos{
    display: block;
    width: 590px;
  }
  .toggler{
    margin-left: 110px;
  }

  .foot{
    display: block;
  }
  #cat{
    margin-right: 50px;
  }
  .socials{
    margin-right:10px;
  }
.tab1{
  display: block;
}
.form-row{
  display: block;
}
.vew{
  height: auto;
}
.about1{
  height: auto;
} */