@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500&display=swap');




:root{
    --pink:#f8a349;
    --transition: all 0.7s ease;
}
.item{
    --pink:#f9d342;
}
a{
    text-decoration: none;
}


*{
    font-family: 'Cairo', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
  
    outline: none; border:none;
    
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    
   
}


.btn{
   
    margin: 10px 0;
    font-size: 17px;
    border: 1px solid #f5af47;
    background: transparent;
    padding: 8px 20px;
    background:#333;
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 30px;
}



.btn:hover{
    background: linear-gradient(#fff, #f80, #fff);
}


.heading{
    text-align: center;
    font-size: 3rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color:var(--pink);
}


header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    color: #666;
    padding:3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    
}

header .logo{
    font-size: 2.5rem;
    color:black;
    font-weight: bolder;
}

header .logo span{
    color:var(--pink);

    font-size: 15px;
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color:var(--pink);
    
}

header .icons a{
    font-size: 2rem;
    color:black;
    /* margin-left: 1.5rem; */
}

header .icons a:hover{
    color:var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 2rem;
    color: #f58d38;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid #c5c5c5;
    display: none;
}



.vew{
    width: 100%;
    object-fit: cover;
    
}
.head-bottom{
    text-align: center;
}
.head-bottom h2{
    padding: 22px 0;
    font-size: 35px;
    border-bottom: 1px solid rgb(247, 154, 16);
    font-weight: 500;
   
}
.head-bottom p{
    opacity: 0.7;
    font-size: 20px;
    margin: 45px auto;
    width: 60vw;
   
}
.head-btn{
 
    margin: 10px 0;
    font-size: 20px;
    border: 1px solid #f5af47;
    background: transparent;
    padding: 13px 20px;
    background:#333;
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 30px;
    
}
.head-btn:hover{
    
    background: linear-gradient(#fff, #f80, #fff);
   
}

/* start coustomer */
/* customers */

.customers{
    margin-top: 40px;
    padding: 40px 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/img1.jpg") center/cover no-repeat fixed;
}
.customers h2{
    color: white;
    z-index: 1000;
    text-align: center;
    font-size: 25px;
}
.customers a{
    color: black;
}
.customer{
    background: #fff;
    padding: 35px;
    text-align: center;
    margin: 24px 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: var(--transition);
}
.rating{
    margin: 10px 0;
    color: var(--pink);
}
.customer h3{
    font-size: 25px;
    color: var(--pink);
}
.customer p{
    opacity: 0.7;
    line-height: 1.8;
    width: 60%;
    margin: 0 auto;
}
.customer img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 25px auto;
}
.customer span{
    font-weight: 700;
    opacity: 0.7;
}
.customer:hover{
    transform: translateY(-18px);
}
@media(min-width: 992px){
    .customers-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}
@media(min-width: 1370px){
    .customers-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 500px){
    h1{
        font-size: 2rem;
    }
    .customer p{
        font-size: 1rem;
        width: 100%;
    }
    .customer img{
        width: 100px;
        height: 100px;
    }
}


/* start form */
/* booking form */
.book{
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../images/22.jpg") center/cover no-repeat;
    color: #fff;
    padding: 40px 60px;
}
.book-form{
    display: grid;
    padding: 20px;
}
.form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.book-form input[type = "submit"]{
    margin: 18px 0 0 0;
    background: var(--dark);
    color: #fff;
    border: 1px solid #fff;
}
.book-form label, .book-form input ,.book-form select{
    width: 100%;
}
.book-form label ,.book-form select,.book-form option{
    font-weight: 600;
    word-spacing: 5px;
    padding-bottom: 8px;
}
.book-form input:not(.btn){
    margin: 4px 0 16px 0;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 17px;
    border: none;
}
.book-form input:focus{
    outline: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
   
}

.book-form select:not(.btn){
    margin: 4px 0 16px 0;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 17px;
    border: none;
}
.book-form select:focus{
    outline: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
@media(min-width: 768px){
    .book-form{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
    }
}
@media(min-width: 1170px){
    .book-form{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width: 1370px){
    .book-form{
        grid-template-columns: 2fr 2fr 1fr 1fr 1fr 2fr;
    }
    .book{
        height: 40vh;
        display: grid;
    }
}
@media(max-width: 500px){
    .book{
        padding-left: 20px;
        padding-right: 20px;
    }
   
}





/* room */

.rooms{
    margin: 40px 0;
}
.room{
    margin: 45px 0;
    padding-bottom: 25px;
    background: #292826;
    color: #fff;
}
.room-text{
    padding: 5px 20px;
}
.room-text h3{
    font-size: 24px;
}
.room-text p{
    text-align: center;
    font-size: 12px;
    color: rgb(189, 186, 181);
}
.room-text ul{
    list-style-type: none;
    margin: 15px 0;
}
.room-text ul li{
    padding: 7px 0;
}
.room-text ul li i{
    color: black;
    margin-right: 10px;
}
.rate{
    opacity: 0.8;
}
.rate span{
    font-size: 40px;
    font-weight: 900;
    color: var(--pink);
}
.room-image{
    overflow: hidden;
  
}
.room-image img{
    transition: var(--transition);
    width: 100%;
    display: block;
}
.room-image:hover img{
    transform: scale(1.1);
}
@media (min-width: 900px){
    .rooms-container{
        display: flex;
        flex-wrap: wrap;
    }
    .room{
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }
}
@media(min-width: 1370px){
    .rooms-container{
        flex-direction: column;
    }
    .room{
        display: flex;
        padding-bottom: 0;
        margin: 5px 0;
    }
    .room-image{
        flex: 1;
    }
    .room-image img{
        height: 100%;
    }
    .room-text{
        flex: 1;
    }
    .room:nth-child(even){
        flex-direction: row-reverse;
    }
}




.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #292826;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--pink);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

/* start footer */
.footer{
    display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   flex-flow:row wrap;
   padding:50px;
   color: #fff;
   background-color:black;
   font-size: 1.5rem;
   /* background: linear-gradient(#fff, #f80, #fff); */
  
   } 
   .footer > *{
       flex: 1 100%;
  
   }
   
   .footer-bottom img{
       width: 15%;
   }
   .footer h2{
       color: var(--pink);
   }
   .footer ul{
       list-style: none;
       padding-left: 0;
   }
   footer li{
       line-height: 2em;
   }
   .footer a{
       text-decoration: none;
   }
   .right-area {
       display: -webkit-flex;
       display: -moz-flex;
       display: -ms-flex;
       display: -o-flex;
       display: flex;
       flex-flow: row wrap;
   }
   .right-area > *{
       flex: 1 50%;
       margin-right: 1.25em;
    
   }
   .box a{
       color: #999;
   }
   .box a:hover{
       color: #f7941d;
   }
   .footer-bottom{
       
       background:black;
       text-align: center;
       color: white;
       padding-top: 50px;
   }
   .left-area p{
       padding-right: 20%;
       color: white;
   
   }
   .socials{
   
       margin-top: 3.2em;
   }
   .socials a{
       background:#ff8c00;
       width: 40px;
       height: 40px;
       display: inline-block;
       margin-right: 10px;
   }
   .socials a i{
       color: #fbfdfd;
       padding: 10px 12px;
       font-size: 20px;
   }
   

   

/* end footer */



/* start page contacts */
.contacts .row{
    display: flex;
    background: #333;
    padding: 10px;
    flex-wrap: wrap;
    gap:1rem;
}

.contacts .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contacts .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contacts .row form h3{
    text-align: center;
    color: white;
    padding: 22px 0px;
    font-size: 2.5rem;
    border-bottom: 1px solid #f8a349;
    text-align: center;
}

.contacts .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color:rgba(110, 99, 105, 0.05);
   
}

.contacts .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contacts .row form .inputBox input{
    width: 100%;
    padding:1rem;
    font-size: 1.7rem;
    
    text-transform: none;
}

.contacts .row form .inputBox input:focus{
    border-color: var(--pink);
}
















/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:1rem;
    }

    section{
        padding:2rem;
    }

    header .fa-bars{
        display: block;
    }
    .container1 {
        display: grid;
    }
    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        display: block;
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

}


@media (max-width:768px){

  
    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
   
    
    
        .home .content p{
            font-size: 2rem;
           
            
        }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .logo{
        font-size: 15px;
    }
   

    header {
        font-size: 1rem;
       
    }
}

@media (max-width:400px){
.icons{
    display: none;
}
}
